@(message: String)

@main("Welcome to Play") {

<form action="/form" method="post">
    <legend>Configuração</legend>
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome">
    
    <label for="email">E-mail:</label>
    <input type="email" name="email" id="email">
    <label>Opcionais:</label>
    <label><input type="checkbox" name="opcional" value="monitor">Monitor</label>
    <label><input type="checkbox" name="opcional" value="teclado">Teclado</label>
    <br>
    <button type="submit">Enviar</button>
</form>



}
