@(formComp: Form[Computador])(implicit messages: Messages)

@import helper._

@main("Configuração") {

@if(formComp.hasGlobalErrors) {
  <ul>
  @for(error <- formComp.globalErrors) {
    <li>@Messages(error.messages, error.args)</li>
  }
  </ul>
}

@form(action = routes.Principal.selecionar){
    @inputText(formComp("nome"), '_label -> "Nome",
    'placeholder -> "Seu nome")
    @inputText(formComp("email"), '_label -> "E-mail", 'placeholder -> "seu e-mail")
    @inputRadioGroup(
        formComp("processador"),
        options = Seq("i3"->"i3", "i5"->"i5 + R$200", "i7"->"i7 + R$500" ),
        '_label -> "Processador")
    
    @inputRadioGroup(
        formComp("memoria"),
        options = Seq("4"->"4 GB", "8"->"8 GB + R$200", "16"->"16 GB + R$500" ),
        '_label -> "Memória")
        
    <button type="submit">Enviar</button>

    }
}
