@()

@radio(title: String, name: String, itens: (String, String)*) = {
    <label>@title</label>
    @for((value, label) <- itens) {
      <label><input type="radio" name="@name" value="@value">@label</label>
    }
    <br>
}

@check(title: String, name: String, itens: (String, String)*) = {
    <label>@title</label>
    @for((value, label) <- itens) {
      <label><input type="checkbox" name="@name" value="@value">@label</label>
    }
    <br>
}
@form(action: String, legend: String)(conteudo: Html) = {
  <form action="@action" method="post">
    <legend>@legend</legend>
    @conteudo
    <button type="submit">Enviar</button>
  </form>
} 

@main("Configuração") {
  
  @form("/selecionar", "Configuração"){
    @radio("Processador","processador","i3"->"i3","i5"->"i5 + R$200","i7"->"i7 + R$500")
    @radio("Memória","memoria", "4"->"4 GB", "8" -> "8 GB + R$150", "16" -> "16 GB + R$250")
    @check("Opcionais","opcionais","mouse"-> "mouse + R$45", "teclado" -> "teclado + R$80")
  }
  
}